
.icon-twitter {
    background-color: map-get($colores-redes, "twitter");
}

.icon-instagram {
    background-color: map-get($colores-redes, "instagram");
}

.icon-facebook {
    background-color: map-get($colores-redes, "facebook");
}

.icon-youtube {
    background-color: map-get($colores-redes, "youtube");
}